.video-hold{
    padding-top: 30px;
    display: flex;

    align-items: center;
    padding-bottom: 30px;
    
    justify-content: center;
}



.player-rap{
    
    padding-top: 30px;
    display: flex;
     padding-right: 30px;
    align-items: center;
    padding-bottom: 10px;

    justify-content: center;
}



.header-course-page{

    background:url("https://d3cjsf0o8cd718.cloudfront.net/flameteam lesson cover.jpg") center center/cover no-repeat;

    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    justify-content: center;



}



